/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #08031b, #000f2e, #30395e);
  color: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
}